In [1]:
# 导入包
import numpy as np
import pandas as pd

In [77]:
# 读取数据文件
down = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/limma/diffdown.txt', sep="\t")
print(down.shape)
up = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/limma/diffup.txt', sep="\t")
print(up.shape)
lasso = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/lasso/lassoExp.txt', sep="\t")
print(lasso.shape)

(299, 6)
(348, 6)
(414, 21)

In [78]:
# 获取基因名
downName = down.index.tolist()
upName = up.index.tolist()
lassoName = lasso.columns.tolist()[3:-1]

In [79]:
# 求取交集
downGene = list(set(lassoName).intersection(set(downName)))
upGene = downGene = list(set(lassoName).intersection(set(upName)))

In [80]:
name = ['time','status','stage']
downGene = list(set(lassoName).intersection(set(downName)))
downGene = name + downGene
downExp = lasso[downGene]
downExp.shape

(414, 9)

In [81]:
downExp.head()

,time,status,stage,ADRB2,AGER,RPL13AP17,WNT7A,GRIA1,GSTA3
TCGA-78-8655-01A-11R-2403-07,2360,0,I,4.574711,8.403352,2.833213,4.143135,3.806662,0.693147
TCGA-91-6829-01A-21R-1858-07,1258,1,I,5.459586,6.896694,0.693147,3.433987,3.295837,0.693147
TCGA-86-8672-01A-21R-2403-07,34,1,II,3.332205,5.476464,0.000000,3.610918,0.000000,0.000000
TCGA-62-8398-01A-11R-2326-07,444,1,III,4.672829,6.133398,2.079442,2.397895,2.197225,0.000000
TCGA-50-8459-01A-11R-2326-07,1119,0,II,4.653960,6.216606,2.302585,6.932448,2.639057,2.890372

In [82]:
name = ['time','status','stage']
upGene = list(set(lassoName).intersection(set(upName)))
upGene = name + upGene
upExp = lasso[upGene]
upExp.shape

(414, 14)

In [83]:
upExp.head()

,time,status,stage,TFAP2A,SIX1,KIF14,FAM83A,S100P,RHOV,AC025580.1,PCP4,PTPRH,COL1A1,TNFSF11
TCGA-78-8655-01A-11R-2403-07,2360,0,I,7.451242,8.620472,5.081404,8.174703,7.649216,8.331345,3.178054,3.401197,5.624018,12.400973,2.708050
TCGA-91-6829-01A-21R-1858-07,1258,1,I,6.188264,6.919684,6.614726,7.333676,4.025352,3.295837,6.030685,7.759187,3.891820,13.200037,4.025352
TCGA-86-8672-01A-21R-2403-07,34,1,II,6.369901,5.318120,5.924256,9.373224,9.863238,7.300473,3.713572,3.091042,5.720312,11.988495,2.772589
TCGA-62-8398-01A-11R-2326-07,444,1,III,6.297109,6.848005,7.130899,10.061943,10.560023,7.642524,4.762174,2.197225,8.263075,12.449340,6.977281
TCGA-50-8459-01A-11R-2326-07,1119,0,II,5.866468,5.655992,4.820282,7.629490,7.997663,6.338594,4.025352,3.850148,6.424869,13.956932,5.789960

In [84]:
# 存储文件
downExp.to_csv('E:/cancerPrognosis/MyLUAD/code/processing/survival/downExp.txt', sep='\t', header=True, index=True)
upExp.to_csv('E:/cancerPrognosis/MyLUAD/code/processing/survival/upExp.txt', sep='\t', header=True, index=True)

In [18]:
# 整合绘制箱线图的文件
# 原始数据读入
lassoExp = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/lasso/lassoExp.txt', sep="\t")
print("行列信息",lassoExp.shape)

行列信息 (414, 21)

In [31]:
# 上调基因 KIF14、FAM83A、S100P
up = []
KIF14 = lassoExp['KIF14'].tolist()
KIF14 = sorted(KIF14)
KIF14_LOW = KIF14[0:207]
KIF14_HIGH = KIF14[207:]
up.append(KIF14_LOW)
up.append(KIF14_HIGH)

FAM83A = lassoExp['FAM83A'].tolist()
FAM83A = sorted(FAM83A)
FAM83A_LOW = FAM83A[0:207]
FAM83A_HIGH = FAM83A[207:]
up.append(FAM83A_LOW)
up.append(FAM83A_HIGH)

S100P = lassoExp['S100P'].tolist()
S100P = sorted(S100P)
S100P_LOW = S100P[0:207]
S100P_HIGH = S100P[207:]
up.append(S100P_LOW)
up.append(S100P_HIGH)

In [36]:
nameUp = ['KIF14_LOW', 'KIF14_HIGH', 'FAM83A_LOW', 'FAM83A_HIGH', 'S100P_LOW', 'S100P_HIGH']
box = pd.DataFrame(up)
boxUP = box.T
boxUP.columns = nameUp

In [43]:
# 存储文件
boxUP.to_csv('E:/cancerPrognosis/MyLUAD/code/processing/survival/boxUP.txt', sep='\t', header=True, index=True)

In [37]:
boxUP.shape

(207, 6)

In [38]:
boxUP.head()

   KIF14_LOW  KIF14_HIGH  FAM83A_LOW  FAM83A_HIGH  S100P_LOW  S100P_HIGH
0   2.639057    5.869297    1.945910     8.192294   1.609438    7.898782
1   2.772589    5.880533    2.197225     8.213653   2.302585    7.905442
2   2.833213    5.883322    2.302585     8.235891   2.397895    7.908387
3   2.833213    5.883322    2.708050     8.240649   2.484907    7.936303
4   3.178054    5.886104    3.135494     8.257126   2.708050    7.948738

In [39]:
# 下调基因 ADRB2、AGER、RPL13AP17、GRIA1
down = []
ADRB2 = lassoExp['ADRB2'].tolist()
ADRB2 = sorted(ADRB2)
ADRB2_LOW = ADRB2[207:]
ADRB2_HIGH = ADRB2[0:207]
down.append(ADRB2_LOW)
down.append(ADRB2_HIGH)

AGER = lassoExp['AGER'].tolist()
AGER = sorted(AGER)
AGER_LOW = AGER[207:]
AGER_HIGH = AGER[0:207]
down.append(AGER_LOW)
down.append(AGER_HIGH)

RPL13AP17 = lassoExp['RPL13AP17'].tolist()
RPL13AP17 = sorted(RPL13AP17)
RPL13AP17_LOW = RPL13AP17[207:]
RPL13AP17_HIGH = RPL13AP17[0:207]
down.append(RPL13AP17_LOW)
down.append(RPL13AP17_HIGH)

nameDown = ['ADRB2_LOW', 'ADRB2_HIGH', 'AGER_LOW', 'AGER_HIGH', 'RPL13AP17_LOW', 'RPL13AP17_HIGH']
box = pd.DataFrame(down)
boxDown = box.T
boxDown.columns = nameDown

In [44]:
# 存储文件
boxDown.to_csv('E:/cancerPrognosis/MyLUAD/code/processing/survival/boxDown.txt', sep='\t', header=True, index=True)

In [40]:
boxDown.shape

(207, 6)

In [41]:
boxDown.head()

   ADRB2_LOW  ADRB2_HIGH  AGER_LOW  AGER_HIGH  RPL13AP17_LOW  RPL13AP17_HIGH
0   5.252273    1.098612  6.842683   2.564949       2.302585             0.0
1   5.252273    1.098612  6.851185   3.178054       2.397895             0.0
2   5.252273    2.197225  6.858565   3.465736       2.397895             0.0
3   5.257495    2.484907  6.874198   3.526361       2.397895             0.0
4   5.267858    2.564949  6.889591   3.610918       2.397895             0.0

In [23]:
# 整理森林图需要的数据
forest = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/coxMult/COXgenes9.txt', sep="\t")
print(forest.shape)
# 原始数据读入
lassoExp = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/lasso/lassoExp.txt', sep="\t")
print("行列信息",lassoExp.shape)

(136, 4)
行列信息 (414, 21)

In [25]:
gene = forest['Characteristics'].tolist()
name = lassoExp.columns.tolist()[3:-1]
dele = []
for i in range(len(gene)):
    if gene[i] not in name:
        dele.append(i)

In [26]:
forest.drop(labels=None, axis=0, index=dele, columns=None, level=None, inplace=True)
forest.shape

(17, 4)

In [27]:
forest.head()

   Characteristics  Hazard.Ratio       CI95  P.Value
10           PTPRH         1.140  1.02-1.27     0.02
19            RHOV         1.242  1.08-1.43     0.00
23          COL1A1         1.142  0.98-1.33     0.09
28           KIF14         2.141  1.16-3.97     0.02
31         TNFSF11         1.115  0.99-1.25     0.06

In [36]:
forest['CI95'].tolist()[1].split('-')[1]

'1.43'

In [37]:
low = []
high = []
for i in range(forest.shape[0]):
    low.append(forest['CI95'].tolist()[i].split('-')[0])
    high.append(forest['CI95'].tolist()[i].split('-')[1])

In [40]:
forest['low'] = low
forest['high'] = high
forest.drop(labels=None, axis=1, index=None, columns='CI95', level=None, inplace=True)
print(forest.shape)

(17, 5)

In [41]:
# 存储文件
forest.to_csv('E:/cancerPrognosis/MyLUAD/code/processing/survival/forest.txt', sep='\t', header=True, index=True)

In [75]:
# 整理热图需要的数据
Exp = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/normal_tumor.txt', sep="\t")
print("行列信息",Exp.shape)
lassoExp = pd.read_csv('E:/cancerPrognosis/MyLUAD/code/processing/lasso/lassoExp.txt', sep="\t")
print("行列信息",lassoExp.shape)

行列信息 (28585, 496)
行列信息 (414, 21)

In [76]:
gene = Exp['gene_name'].tolist()
print(len(gene))
name = lassoExp.columns.tolist()[3:-1]
print(len(name))

28585
17

In [77]:
dele = []
for i in range(len(gene)):
    if gene[i] not in name:
        dele.append(i)
print(len(dele))

28568

In [78]:
Exp.drop(labels=None, axis=0, index=dele, columns=None, level=None, inplace=True)

In [79]:
Exp.shape

(17, 496)

In [82]:
Exp.set_index('gene_name',inplace=True)

In [85]:
nor = Exp.iloc[:,0:45]
print(nor.shape)
tur = Exp.iloc[:,45:]
print(tur.shape)

(17, 45)
(17, 450)

In [87]:
nor['mean'] = nor.mean(axis=1)

D:\StudySoft1\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
tur['mean'] = tur.mean(axis=1)

D:\StudySoft1\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
dat1 = nor['mean'].tolist()
dat2 = tur['mean'].tolist()

In [96]:
def min_max(x):
    # x: numpy array
    x = (x - np.min(x)) / (np.max(x) - np.min(x))
    return x

In [97]:
dat1 = min_max(dat1)
dat2 = min_max(dat2)

In [98]:
ph = pd.DataFrame([dat1,dat2])

In [99]:
pheatmap = ph.T
pheatmap.columns = ['normal','tumor']

In [100]:
pheatmap

      normal     tumor
0   0.086826  0.434368
1   0.253427  0.483098
2   0.782145  1.000000
3   0.165667  0.428529
4   0.000000  0.230792
5   0.304056  0.519801
6   0.154409  0.430332
7   0.195691  0.654461
8   0.472701  0.183057
9   0.513951  0.163762
10  0.382829  0.607382
11  0.590028  0.362228
12  0.207892  0.000000
13  0.044575  0.308137
14  1.000000  0.544608
15  0.466001  0.089652
16  0.034288  0.276960